@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: "Outfit", sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* hazır kodlarım */

.full-page {
    width: 100%;
    min-height: 100vh;
    background-color: #0D192C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    position: relative;
    margin-bottom: 24px;
    > img {
        position: relative;
        border-radius: 8px;
        z-index: 2;
    }
}

.img-box:hover {
    > img {
        z-index: 0;
    }
}

.hover {
    background-color: rgba(0, 255, 248, 0.5);
    position: absolute;
    inset: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.main-box {
    width: 350px;
    height: 596px;
    border-radius: 15px;
    background-color: #15263F;
    padding: 24px;
    
    > h1 {
        color: #fff;
        font-size: 22px;
        height: 28px;
        margin-bottom: 16px;
        font-weight: 600;
        cursor: pointer;
    }
    > h1:hover {
        color: #00FFF8;
    }
    > p {
        font-size: 18px;
        line-height: 26px;
        color: #8BACD9;
        font-weight: 300;
        margin-bottom: 24px;
    }
}

.value {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #2E405A;
    margin-bottom: 16px;
}

.eth, .days {
    display: flex;
    align-items: center;
    gap: 7px;
}

.eth {
    > h1 {
        font-size: 16px;
        color: #00FFF8;
    }
}

.days {
    > h1 {
        font-size: 16px;
        color: #8BACD9;
        font-weight: 400;
    }
}

.creating {
    display: flex;
    align-items: center;
    gap: 16px;
    > img {
        width: 33px;
        height: 33px;
        object-fit: cover;
        border: 1px solid #fff;
        border-radius: 50%;
    }
    > p {
        color: #8BACD9;
        font-size: 16px;
        > span {
            color: #fff;
            cursor: pointer;
        }
        > span:hover {
            color: #00FFF8;
        }
    }
}

@media (width < 400px) {

    .full-page {
        padding: 24px;
    }

    .main-box {
        height: auto;
    }

    .img-box {
        > img {
            width: 100%;
            min-width: 278px;
            min-height: 278px;
        }
    }
    
}